{% extends "base.html" %}

{% block breadcrumb %}
<div class="breadcrumb">
  <a href="/">Top</a>&nbsp;|&nbsp;<a href="{{ store.get_absolute_url }}">{{ store.name }}</a>&nbsp;|&nbsp;<a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
</div>
{% endblock %}

{% block content %}

<h1>{{ store.name }}</h1>
  <h2>{{ product.name }}</h2>
  <img src="{{ product.picture.url }}" class="" alt="" />
  <p>{{ product.description }}</p>
  <p>Our price: {{ product.price }} $</p>

<form method="post" id="" action="{% url 'stores:add_to_cart' store_slug=store.slug slug=product.slug %}">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" name="Add to Cart" value="Add to Cart" />
</form>

{% endblock %}
